################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/~$report.docx
/~WRL1781.tmp
